Repository mir-dataset-loaders/mirdata, pull requests merged in 2021-02, with the labels that each got.

#463 Added Multitrack index in contributing.rst
  docs/source/contributing.rst
Labels: docs

#435 Adding loader for OTMM makam recognition dataset (CompMusic corpus)
  docs/source/mirdata.rst
  docs/source/table.rst
  mirdata/datasets/compmusic_otmm_makam.py
  mirdata/datasets/indexes/compmusic_otmm_makam_index.json
  mirdata/jams_utils.py
  scripts/make_compmusic_otmm_makam_index.py
  tests/resources/mir_datasets/compmusic_otmm_makam/MTG-otmm_makam_recognition_dataset-f14c0d0/AUTHORS
  tests/resources/mir_datasets/compmusic_otmm_makam/MTG-otmm_makam_recognition_dataset-f14c0d0/Changelog.md
  tests/resources/mir_datasets/compmusic_otmm_makam/MTG-otmm_makam_recognition_dataset-f14c0d0/LICENSE
  tests/resources/mir_datasets/compmusic_otmm_makam/MTG-otmm_makam_recognition_dataset-f14c0d0/README.md
  tests/resources/mir_datasets/compmusic_otmm_makam/MTG-otmm_makam_recognition_dataset-f14c0d0/algorithms.json
  tests/resources/mir_datasets/compmusic_otmm_makam/MTG-otmm_makam_recognition_dataset-f14c0d0/annotations.json
  tests/resources/mir_datasets/compmusic_otmm_makam/MTG-otmm_makam_recognition_dataset-f14c0d0/data/Kurdilihicazkar/cafcdeaf-e966-4ff0-84fb-f660d2b68365.json
  tests/resources/mir_datasets/compmusic_otmm_makam/MTG-otmm_makam_recognition_dataset-f14c0d0/data/Kurdilihicazkar/cafcdeaf-e966-4ff0-84fb-f660d2b68365.pitch
  tests/test_loaders.py
  tests/test_otmm_makam.py
Labels: new loader

#466 Adding loader for McGill Billboard (updated)
  docs/source/mirdata.rst
  docs/source/table.rst
  mirdata/datasets/billboard.py
  mirdata/datasets/indexes/billboard_index.json
  scripts/make_billboard_index.py
  tests/resources/mir_datasets/billboard/McGill-Billboard/0003/bothchroma.csv
  tests/resources/mir_datasets/billboard/McGill-Billboard/0003/full.lab
  tests/resources/mir_datasets/billboard/McGill-Billboard/0003/majmin.lab
  tests/resources/mir_datasets/billboard/McGill-Billboard/0003/majmin7.lab
  tests/resources/mir_datasets/billboard/McGill-Billboard/0003/majmin7inv.lab
  tests/resources/mir_datasets/billboard/McGill-Billboard/0003/majmininv.lab
  tests/resources/mir_datasets/billboard/McGill-Billboard/0003/salami_chords.txt
  tests/resources/mir_datasets/billboard/McGill-Billboard/0003/tuning.csv
  tests/resources/mir_datasets/billboard/McGill-Billboard/0035/bothchroma.csv
  tests/resources/mir_datasets/billboard/McGill-Billboard/0035/full.lab
  tests/resources/mir_datasets/billboard/McGill-Billboard/0035/majmin.lab
  tests/resources/mir_datasets/billboard/McGill-Billboard/0035/majmin7.lab
  tests/resources/mir_datasets/billboard/McGill-Billboard/0035/majmin7inv.lab
  tests/resources/mir_datasets/billboard/McGill-Billboard/0035/majmininv.lab
  tests/resources/mir_datasets/billboard/McGill-Billboard/0035/salami_chords.txt
  tests/resources/mir_datasets/billboard/McGill-Billboard/0035/tuning.csv
  tests/resources/mir_datasets/billboard/audio/1960s/James Brown/I Don't Mind/audio.flac
  tests/resources/mir_datasets/billboard/billboard-2.0-index.csv
  tests/test_billboard.py
Labels: new loader

#468 Building audio/annotation paths in core
  docs/source/contributing_examples/example.py
  mirdata/core.py
  mirdata/datasets/acousticbrainz_genre.py
  mirdata/datasets/beatles.py
  mirdata/datasets/beatport_key.py
  mirdata/datasets/billboard.py
  mirdata/datasets/cante100.py
  mirdata/datasets/compmusic_otmm_makam.py
  mirdata/datasets/dali.py
  mirdata/datasets/giantsteps_key.py
  mirdata/datasets/giantsteps_tempo.py
  mirdata/datasets/groove_midi.py
  mirdata/datasets/gtzan_genre.py
  mirdata/datasets/guitarset.py
  mirdata/datasets/ikala.py
  mirdata/datasets/irmas.py
  mirdata/datasets/maestro.py
  mirdata/datasets/medley_solos_db.py
  mirdata/datasets/medleydb_melody.py
  mirdata/datasets/medleydb_pitch.py
  mirdata/datasets/mridangam_stroke.py
  mirdata/datasets/orchset.py
  mirdata/datasets/rwc_classical.py
  mirdata/datasets/rwc_jazz.py
  mirdata/datasets/rwc_popular.py
  mirdata/datasets/salami.py
  mirdata/datasets/saraga_carnatic.py
  mirdata/datasets/saraga_hindustani.py
  mirdata/datasets/tinysol.py
  mirdata/datasets/tonality_classicaldb.py
  tests/test_core.py
Labels: enhancement

#461 Phenicx Anechoic / Multitrack
  docs/source/mirdata.rst
  docs/source/table.rst
  mirdata/core.py
  mirdata/datasets/indexes/phenicx_anechoic_index.json
  mirdata/datasets/phenicx_anechoic.py
  mirdata/validate.py
  scripts/make_phenicx_anechoic_index.py
  tests/resources/mir_datasets/phenicx_anechoic/annotations/beethoven/bassoon.txt
  tests/resources/mir_datasets/phenicx_anechoic/annotations/beethoven/bassoon_o.txt
  tests/resources/mir_datasets/phenicx_anechoic/annotations/beethoven/cello.txt
  tests/resources/mir_datasets/phenicx_anechoic/annotations/beethoven/cello_o.txt
  tests/resources/mir_datasets/phenicx_anechoic/annotations/beethoven/clarinet.txt
  tests/resources/mir_datasets/phenicx_anechoic/annotations/beethoven/clarinet_o.txt
  tests/resources/mir_datasets/phenicx_anechoic/annotations/beethoven/doublebass.txt
  tests/resources/mir_datasets/phenicx_anechoic/annotations/beethoven/doublebass_o.txt
  tests/resources/mir_datasets/phenicx_anechoic/annotations/beethoven/flute.txt
  tests/resources/mir_datasets/phenicx_anechoic/annotations/beethoven/flute_o.txt
  tests/resources/mir_datasets/phenicx_anechoic/annotations/beethoven/horn.txt
  tests/resources/mir_datasets/phenicx_anechoic/annotations/beethoven/horn_o.txt
  tests/resources/mir_datasets/phenicx_anechoic/annotations/beethoven/oboe.txt
  tests/resources/mir_datasets/phenicx_anechoic/annotations/beethoven/oboe_o.txt
  tests/resources/mir_datasets/phenicx_anechoic/annotations/beethoven/trumpet.txt
  tests/resources/mir_datasets/phenicx_anechoic/annotations/beethoven/trumpet_o.txt
  tests/resources/mir_datasets/phenicx_anechoic/annotations/beethoven/viola.txt
  tests/resources/mir_datasets/phenicx_anechoic/annotations/beethoven/viola_o.txt
  tests/resources/mir_datasets/phenicx_anechoic/annotations/beethoven/violin.txt
  tests/resources/mir_datasets/phenicx_anechoic/annotations/beethoven/violin_o.txt
  tests/resources/mir_datasets/phenicx_anechoic/audio/beethoven/bassoon1.wav
  tests/resources/mir_datasets/phenicx_anechoic/audio/beethoven/bassoon2.wav
  tests/resources/mir_datasets/phenicx_anechoic/audio/beethoven/cello.wav
  tests/resources/mir_datasets/phenicx_anechoic/audio/beethoven/clarinet1.wav
  tests/resources/mir_datasets/phenicx_anechoic/audio/beethoven/clarinet2.wav
  tests/resources/mir_datasets/phenicx_anechoic/audio/beethoven/doublebass.wav
  tests/resources/mir_datasets/phenicx_anechoic/audio/beethoven/flute1.wav
  tests/resources/mir_datasets/phenicx_anechoic/audio/beethoven/flute2.wav
  tests/resources/mir_datasets/phenicx_anechoic/audio/beethoven/horn1.wav
  tests/resources/mir_datasets/phenicx_anechoic/audio/beethoven/horn2.wav
  tests/resources/mir_datasets/phenicx_anechoic/audio/beethoven/oboe1.wav
  tests/resources/mir_datasets/phenicx_anechoic/audio/beethoven/oboe2.wav
  tests/resources/mir_datasets/phenicx_anechoic/audio/beethoven/trumpet1.wav
  tests/resources/mir_datasets/phenicx_anechoic/audio/beethoven/trumpet2.wav
  tests/resources/mir_datasets/phenicx_anechoic/audio/beethoven/viola1.wav
  tests/resources/mir_datasets/phenicx_anechoic/audio/beethoven/viola2.wav
  tests/resources/mir_datasets/phenicx_anechoic/audio/beethoven/violin1.wav
  tests/resources/mir_datasets/phenicx_anechoic/audio/beethoven/violin2.wav
  tests/resources/mir_datasets/phenicx_anechoic/audio/beethoven/violin3.wav
  tests/resources/mir_datasets/phenicx_anechoic/audio/beethoven/violin4.wav
  tests/test_core.py
  tests/test_loaders.py
  tests/test_phenicx_anechoic.py
  tests/test_utils.py
Labels: new loader
